<main>
    <div class="layout-wrapper">

        <div class="grid">

            <MainChange :options="{
            headline: 'crash',
            cssClass: 'crash'
        }"/>

            <MainChange :options="{
            headline: 'harley',
            cssClass: 'harley'
        }"/>

            <MainChange :options="{
            headline: 'deadpool',
            cssClass: 'deadpool'
        }"/>



            <MainChange :options="{
            headline: 'mario',
            cssClass: 'mario'
        }"/>

            <MainChange :options="{
            headline: 'vader',
            cssClass: 'vader'
        }"/>

            <MainChange :options="{
            headline: 'master',
            cssClass: 'master'
        }"/>

            <MainChange :options="{
            headline: 'sonic',
            cssClass: 'sonic'
        }"/>


        </div>

    </div>
</main>

