// ----------------------------------------------------------------------------
// Config
@import "~@/scss/import.scss";

// ----------------------------------------------------------------------------

main {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $margin *2;
    margin: $margin* 2 0
  }
}

// --- mediascreen 01 - 03 ---

@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

}

