// ----------------------------------------------------------------------------
// Config

body {
  --c-success: #28a745;
  --c-error: #b60202;
  --c-warning: #ffc107;
  --c-focus: #049ae2;

  --text-primary: #1f4363;
  --text-secondary: #efefef;

  --c-primary: #333333;
  --c-secondary: #efefef;
  --c-thirdly: #a5bded;
  --c-fourthly: #07398d;
  --c-background: #ffffff;

}

// ----------------------------------------------------------------------------
